body {
    
    background: radial-gradient(rgba(255, 196, 0, 0.705), rgba(255, 166, 0, 0.616));
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
h1 {
    font-size: 35px;
    font-family:monospace;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    text-align:center; 
}

 p {
    font-size: 20px;
    font-family:inherit;
    margin-block: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

h2, h3 {
    font-size: 20px;
    font-family:inherit;
    margin-block: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: yellow;
}

.h1-head {
    color: yellow;
}

a:hover {
    text-shadow: 1px 1px rgb(128, 0, 0);
}

a:link {
    color: purple
}

.footer {
    background-color: rgba(165, 120, 20, 0.651);
    text-align: center;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    margin-top: auto;
}  

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}


.home-link {
    text-align: center;
    font-size: 30px;
}

header {
    text-align: center;
    background-color: rgba(165, 102, 20, 0.651);
    padding: 10px;
}

.button {
    font-family: 'Fira Code', monospace;
	font-size: 1.2vw;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: 3px solid rgb(12, 0, 82);
	border-radius: 4px;
	background: rgba(176, 194, 11, 0.623);
	padding: 5px 10px;
	text-align: center;
    margin: 0px
}

