body {
    
    background: radial-gradient(rgba(255, 196, 0, 0.705), rgba(255, 166, 0, 0.616));
    text-align: center;
    
}
h1 {
    font-size: 35px;
    font-family:monospace;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
    text-align:center; 
}

 p {
    font-size: 20px;
    font-family:inherit;
    margin-block: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

h2, h3 {
    font-size: 20px;
    font-family:inherit;
    margin-block: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: yellow;
}

.h1-head {
    color: yellow;
}

ul {
    list-style-type: none;
}


a:hover {
    text-shadow: 1px 1px rgb(128, 0, 0);
}

.footer {
    background-color: rgb(231, 213, 45);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}  

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}


.home-link {
    text-align: center;
    font-size: 30px;
}

header {
    text-align: center;
    background-color: rgba(165, 102, 20, 0.651);
    padding: 10px;
}

